############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


# Mac crap
.DS_Store

# .asv files (matlab backup files)
*.asv
.DS_Store
sshanbhag/.DS_Store
